 html {
    font-family: sans-serif;
}

.index_body {
    background-image: url(https://images.unsplash.com/photo-1553106364-741d67315829?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
    
}
@media (min-width: 300px) {
    body {
        background-image: url(https://images.unsplash.com/photo-1553106364-741d67315829?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
        background-repeat: no-repeat;
        background-size: cover, contain;
    }
}

div.title {
    text-align: center;
}

p.title-text {
    opacity: 0.7;
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: rgba(245, 167, 167, 0.8);
    padding: 10px;
}

.title-header {
    flex: 2;
    font-family: 'Anton', sans-serif;
    justify-content: space-around;
    color: white;
    font-size: 6rem;
    border: black;
}



.cards-container {
    width: 100%;
    height: 100%;
    text-align: center;
    
    
}

.p1-card-container {
    width: 175px;
    height: 175px;
    text-align: center;
}

.card {
    background-color: rgb(215, 215, 215);
    display: inline-block;
    width: 280px;
    height: 280px;
    border: 1.6px solid black;
}
.card2 {
    display: inline-block;
    border: 1.6px solid black;
    height: 280px;

}

.card2:hover {
    box-shadow: 0 0 5px 2px rgba(4, 137, 13, 0.8);
}

.card:hover {
    box-shadow: 0 0 5px 2px rgba(7, 240, 22, 0.8);
}

.card-img {
    width: 175px;
    height: 175px;
}
.content {
    opacity: 0.7;
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: rgba(245, 167, 167, 0.8);
    padding: 4px; 
}





.page1body {
    background-image: url(https://images.unsplash.com/photo-1542850513-cb528bf20ddc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
 

.page1-p {
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.849);
    width: 40%;
    height: auto;
}
.gif {
    width: 40%;
    height: auto;
    margin: 0px;
}



@media only screen and (max-width: 768px) {
    .gif {
        width: 95%;
        height: auto;
    }
    .page1-p {
        font-size: 1.5rem;
        text-align: center;
        box-shadow: 0 0 5px 2px rgb(255, 255, 255);
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.849);
        width: 95%;
        height: auto;

    }
}











.page2-body {
    background-image: url(https://images.unsplash.com/photo-1513206057392-e565592cbaa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.page2-h {
    text-align: inherit;
    color: whitesmoke;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 380px) {
    .card-img_v2 {
        display: block;
    }
}

.a-tag {
    opacity: 0.8;
    box-shadow: 0 0 3px 2px rgb(223, 220, 81);
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: black;
}

.card-img_v2 {
    width: 100%;
    height: auto;

}
.card-info {
    padding: 12px;
    height: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}











.body-image {
    background-image: url(https://images.unsplash.com/photo-1527603870404-36a7ee13972e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}




.steps {
    font-weight: bold;
    font-size: 1rem;
    position: sticky;
    opacity: 0.7;
     text-align: center;
}

.step1 {
    background-color: white;
    width: inherit;
}